body {
    background-image: url("https://media.istockphoto.com/id/1198380802/vector/food-background-vegetables-seamless-pattern-healthy-eating-tomato-garlic-carrot-pepper.jpg?s=612x612&w=0&k=20&c=jHB3uTWZrakPyAgqSQfOApxSq_jIwHRx00LiOV2YHEk=");
}

.heading {
    text-align: center;
    color: #264653;
    font-size:xx-large;
}

.recipes {
    /* border: black;
    border-style: dashed; */
    margin-top: 90px;
    text-align: center;
}
.lasagna, .burger {
    border-style: solid;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.image {
    border-style: groove;
    border-color: black;
    border-radius: 5px;
    height: 250px;
}

img {
    height: 250px;
    width: auto;   
}

body {
    font-size: x-large;
    color: #264653;
}
.text {
    border: none;
}